* {
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1e1e;
  color: white;
}

.btn {
  margin-top: 1rem;
  background-color: #3181fa;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 720px) {
  .btn-nueva {
    margin-top: -150px;
  }
}
.contenedor-btn-volver {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1.5rem;
}
.contenedor-btn-volver .btn-volver {
  margin-top: 1rem;
  background-color: #3181fa;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.contenedor-btn-volver .btn-volver a {
  text-decoration: none;
  color: #ffffff;
}

table .btn {
  margin-left: 0.5rem;
}
table .btn-info {
  background-color: #607d8b;
  color: #ffffff;
}
table .btn-edit {
  background-color: #009688;
  color: #ffffff;
  margin-top: 1rem;
}
table .btn-delete {
  background-color: #b71c1c;
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fff;
  color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #aaaaaa;
  width: 15rem;
  height: 15rem;
}
.modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: #1e1e1e;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 10px;
}
.modal .modal-content .modal-p p {
  margin-top: 1rem;
  width: 15rem;
  height: 3rem;
  white-space: nowrap;
  overflow: auto;
}
.modal .modal-content .modal-p p span {
  color: #1e1e1e;
}

.contenedor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 3rem 3rem;
  margin-top: -1rem;
}
.contenedor-form .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 17rem;
  background-color: white;
  border-radius: 5px;
}
.contenedor-form .formulario h3 {
  margin-top: 2rem;
  color: #1e1e1e;
}
.contenedor-form .formulario form {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
}
.contenedor-form .formulario form input {
  margin-bottom: 1rem;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  height: 0.7rem;
  cursor: pointer;
}
.contenedor-form .formulario form label {
  margin-bottom: 0.5rem;
  color: #1e1e1e;
  font-size: 0.8rem;
  font-weight: bold;
}
.contenedor-form .formulario form button {
  background-color: #3181fa;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.crear {
  margin-top: 5rem;
}

.head {
  height: 2rem;
}

header {
  margin: 0;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(35, 35, 35, 0.4);
  position: fixed;
  width: 100vw;
}
header h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.container {
  margin-top: 2rem;
}
.container .contenedor-tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.container .contenedor-tabla h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.container .contenedor-tabla table {
  margin-left: 7rem;
  border-collapse: collapse;
  width: 20rem;
}
.container .contenedor-tabla table th,
.container .contenedor-tabla table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.container .contenedor-tabla table tbody th {
  height: auto;
  text-align: left;
  max-width: 800px;
  overflow: auto;
}

@media (min-width: 721px) and (max-width: 1080px) {
  .container {
    margin-top: 0rem;
  }
  .container .contenedor-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .container .contenedor-tabla h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .container .contenedor-tabla table {
    margin-left: 1rem;
    border-collapse: collapse;
    width: 1rem;
    scale: 80%;
  }
  .container .contenedor-tabla table th,
  .container .contenedor-tabla table td {
    border: 1px solid #ddd;
    padding: 2px;
  }
  .container .contenedor-tabla table tbody th {
    height: auto;
    width: auto;
    text-align: left;
    max-width: 300px;
    overflow: auto;
  }
  .container .contenedor-tabla table .completed {
    margin-left: 40px;
  }
}
@media (max-width: 720px) {
  .container {
    margin-top: -4rem;
  }
  .container .contenedor-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .container .contenedor-tabla h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .container .contenedor-tabla table {
    margin-left: 1rem;
    border-collapse: collapse;
    width: 1rem;
    scale: 60%;
    margin-bottom: 3rem;
  }
  .container .contenedor-tabla table th,
  .container .contenedor-tabla table td {
    border: 1px solid #ddd;
    padding: 2px;
  }
  .container .contenedor-tabla table tbody th {
    height: auto;
    width: auto;
    text-align: left;
    max-width: 300px;
    overflow: auto;
  }
  .container .contenedor-tabla table .completed {
    margin-left: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
