$bg-color: #3181fa;
$color-text: #1e1e1e;
$color: #ffffff;
$color-ver: #607d8b;
$color-editar: #009688;
$color-borrar: #b71c1c;

.btn {
  margin-top: 1rem;
  background-color: $bg-color;
  color: $color;
  border: none;
  border-radius: 7px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  
  a {
    text-decoration: none;
    color: $color;
    
  }
}
@media (max-width: 720px) {
.btn-nueva{
  margin-top: -150px;
}
}
.contenedor-btn-volver {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1.5rem;
  .btn-volver {
    margin-top: 1rem;
    background-color: $bg-color;
    color: $color;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $color;
    }
  }
}
table {
  .btn {
    margin-left: 0.5rem;
  }
  .btn-info {
    background-color: $color-ver;
    color: $color;
  }
  .btn-edit {
    background-color: $color-editar;
    color: $color;
    margin-top: 1rem;
  }
  .btn-delete {
    background-color: $color-borrar;
    color: $color;
  }
}
